 <nav>
    <ul class="nav justify-content-center">
        <li id='addLista' class="nav-item">
            <a class="nav-link active"  href="javascript:void(0)">
                <i class="fas fa-plus fa-2x"></i>
            </a>
        </li>
    </ul>
  </nav>

<div class="container">

    <div class="row grid">
        
    </div>
    <input type="hidden" id='id'>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLista" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            <div class="form-group">
                <label for="nome">Lista</label>
                <input type="text" class="form-control" id="nome"  placeholder="Nome Lista">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" id="salvar" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

<script src="/lista.js"></script>