{{!-- <form action="/auth/local" method="post">
    Email: <input type="email" value="guilhermebiber@gmail.com" name="email"/>
    Senha: <input type="password" value="123" name="password"/>
    
   <button type="submit">Login</button>


</form>

<button></button>
 --}}
 <div class="container text-center">
      <form class="form-signin" action="/auth/local" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Entre</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
      <hr>
    <label for="inputPassword"  class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
  <hr>
  <button class="btn btn-lg btn-primary" type="submit">Entrar</button>

  <a class="btn btn-lg btn-secondary" href='/profile'>Cadastrar</a>
  <h3>GRUPO</h3>
  <p>Carlos Alberto Oliveira Araujo</p>
  <P>Guilherme Brandão Biber Sampaio</P>
  <P>Luiz Augusto Mendes Silva</P>
  <p>DWFS-2019-1 - 03 - PROGRAMAÇÃO WEB COM NODE.JS (PWN) TAREFA</p>
  
  <p class="mt-5 mb-3 text-muted">IEC - 2019</p>
</form>
 </div>
 
