 {{!-- <form action="/profile" method="post">
     <div>
         <label for="username">Username:</label>
         <input type="text" name="username" id="username"/>
     </div>
          <div>
         <label for="email">Email:</label>
         <input type="text" name="email" id="email"/>
     </div>
     <div>
         <label for="password">Password:</label>
         <input type="password" name="password" id="password"/>
     </div>
     <div>
         <input type="submit" value="Register"/>
     </div>
  </form> --}}


<div class="container text-center">
    <form class="form-signin"  action="/profile" method="post">
        
        <div class="form-group">
<h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </div>
        
           <div class="form-group">

        <label for="email"  class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="">

        </div>


           <div class="form-group">
               
        <label for="password"  class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    
        </div>
        

        <input class="btn btn-lg btn-secondary" type="submit" value="Register"/>
    
        <p class="mt-5 mb-3 text-muted">IEC - 2019</p>

</form>
 </div>