body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btnLista>a{
  margin:10%
}
.card{
  margin-bottom: 10px
}

.card-title{
  cursor:pointer
}

.card-title>a:link 
{ 
text-decoration:none; 
} 